@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Header {
  height: 100px;
  background-color: #183457;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  font-size: 24px;
  font-family: "Poppins";
  color: white;
  font-weight: 200;
}

.Header h1 a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 1280px) {
  .Header h1 {
    font-size: 14px;
  }
}

.uniq-affilate {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  align-items: center;
}

.uniq-affilate-container {
  width: 80%;
}

.uniq-aff-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.uniq-aff-info .bg-image-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter: brightness(30%);
}

.uniq-aff-info .bg-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter: brightness(30%);
  display: none;
}

@media screen and (max-width: 768px) {
  .uniq-aff-info .bg-image-1 {
    display: none;
  }
  .uniq-aff-content {
    width: 90%;
  }

  .uniq-aff-info .bg-image-2 {
    display: flex;
  }
}

.uniq-aff-info h1 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.uniq-aff-info a {
  text-decoration: none;
  background-color: #ffffff;
  color: #183457;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 14px;
}

.uniq-aff-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
}

.empty-div-inaff {
  height: 5vh;
}


.uniq-aff-info-para-div{
  margin: 40px 0px;
  border: 1px solid red;
}
.uniq-aff-info-para {
  padding: 0px 50px;
  font-size: 15px;
  color: #183457;
  text-align: center;
}

.uniq-aff-join-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px;
  gap: 20px;
  border: 1px solid red;
}

.uniq-aff-join-steps-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #183457;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  width: 70%;
}

.uniq-aff-join-steps-card h1 {
  font-size: 18px;
  font-weight: 300;
  color: #183457;
  margin-bottom: 10px;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #183457;
}

.uniq-aff-join-steps-card span {
  font-size: 14px;
  text-align: center;
}

.uniq-form-sec-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* background-color: #183457; */
  margin-bottom: 80px;
}

.uniq-form-sec-title h1 {
  text-transform: uppercase;
  color: white;
  color: #183457;
  font-size: 24px;
  font-weight: 300;
}

/* Contact Forms */

.uniq-contact-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0px;
  gap: 20px;
  border: 1px solid red;
}

/* Affiliate Program Form Container*/
.uniq-aff-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #183457;
  padding: 50px 0px;
  border-radius: 15px;
}

/* Affiliate Program Form  Header*/
.uniq-aff-form h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 80px;
}

/* Affiliate Program Form */
.uniq-aff-form form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Affiliate Program Form Label*/
.uniq-aff-form form label {
  color: white;
}

.uniq-aff-form form label i {
  color: rgb(180, 180, 180);
  font-size: 10px;
}

/* Affiliate Program Form Input*/
.uniq-aff-form form input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  background-color: #183457;
  outline: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Affiliate Program Form TextArea*/
.uniq-aff-form form textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  background-color: #183457;
  outline: none;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 110px;
  margin-top: 5px;
}

.uniq-aff-form form textarea::placeholder {
  font-style: italic;
}

.add-more-links {
  width: 120px;
  height: 30px;
  font-size: 14px;
  background-color: #ffffff;
  color: #183457;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  margin: 20px 0px;
}

/* Affiliate Program Form Button*/
.uniq-aff-form form .uniq-aff-submit-btn {
  background-color: #ffffff;
  color: #183457;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 55px;
}

.additional-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}

@media screen and (max-width: 1280px) {
  .uniq-aff-form {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .uniq-affilate-container {
    width: 90%;
  }
  .uniq-aff-info {
    height: 100%;
  }

  .uniq-aff-join-steps {
    width: 100%;
  }

  .uniq-aff-join-steps-card {
    width: 100%;
  }

  .uniq-aff-info h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
  }

  .uniq-aff-info .empty-div-inaff {
    height: 2vh;
  }
  .uniq-aff-info-para {
    padding: 0px 1px;
    font-size: 13px;
    text-align: left;
  }

  .uniq-contact-forms {
    flex-direction: column;
  }

  .uniq-form-sec-title {
    margin-bottom: 10px;
  }

  .uniq-aff-form {
    width: 100%;
  }

  .uniq-aff-form form {
    width: 90%;
  }
  .uniq-aff-form h1 {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
  }
  .uniq-aff-form form label {
    font-size: 14px;
  }
  .uniq-aff-form form textarea {
    height: 100px;
  }
}

.uniq-step-1 {
  display: flex;
  flex-direction: column;
}

.uniq-step-2 {
  display: flex;
  flex-direction: column;
}

.uniq-aff-form form select {
  margin: 20px 0px 30px 0px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #1834571f;
  padding: 0px 20px 0px 0px;
  border-radius: 5px;
  font-family: "Poppins";
  color: white;
  border: 1px solid white;
}

.uniq-aff-form form select > option {
  width: 20%;
  background-color: #1834571f;
  color: #183457;
}

.uniq-prev-step-btn,
.uniq-next-step-btn {
  width: 120px;
  height: 30px;
  font-size: 14px;
  background-color: #ffffff;
  color: #183457;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  margin: 20px 0px;
}

.uniq-step {
  display: none;
}

.uniq-step.stepActive {
  display: flex;
}

/*  FAQS Accordion */

.uniq-affiliate-faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  margin: 40px 0px;
  border: 1px solid red;
}

.uniq-affiliate-faqs h1 {
  text-transform: uppercase;
  color: white;
  color: #183457;
  font-size: 24px;
  font-weight: 300;
}
.accordion {
  width: 70%;
  margin: 40px 15%;
  border: 1px solid red;
}

.accordion__header {
  padding: 1em;
  margin-top: 2px;
  display: flex;
  background-color: #f5f2ee;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "poppins";
  border-radius: 7px 7px 0px 0px;
}
.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.accordion__header.is-active {
  background-color: #eee9e3 !important;
}

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: #222;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle::before {
  content: "";
  width: 3px;
  height: 13px;
  display: block;
  background-color: #17153b;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active .accordion__toggle {
  background-color: #000;
}
.is-active .accordion__toggle::before {
  display: none;
}
@media only screen and (max-width: 768px) {
  .accordion {
    width: 100%;
    margin: 0;
  }
}

.accordion__body {
  display: none;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0px 0px 7px 7px;
  letter-spacing: 0.1px;
}

.accordion__body p {
  font-size: 14px;
  font-family: "poppins";
}
.accordion__body.is-active {
  display: block;
}
